/Debug/
.settings
.project
.cproject
srcs/*.out
srcs/a.out.dSYM
srcs/main.dSYM
.vscode
.DS_Store
/build/
libft/*.o
includes/.DS_Store
/*.dSYM
srcs/.DS_Store
main
*.out
exampleVariadic/*.out
exampleVariadic/*.dSYM
/printfTester
/ft_printf_tester
